body {
  font-family: "Grenze", serif;

  a {
    color: unset;

    &:hover {
      color          : #222;
      text-decoration: none;
    }
  }

  ul {
    margin-bottom: unset;
  }
}

.main {}

ul,
ol {
  list-style   : none;
  margin-bottom: 0px;
}

li {}

#scrollToTop {
  display         : block;
  z-index         : 9999;
  position        : fixed;
  width           : 40px;
  height          : 40px;
  background-color: #333;
  background-color: rgba(0, 0, 0, 0.3);
  font-size       : 20px;
  line-height     : 36px;
  text-align      : center;
  color           : #FFF;
  top             : auto;
  left            : auto;
  right           : 10px;
  bottom          : 45px;
  cursor          : pointer;
  border-radius   : 50%;

  &:hover {
    background: red;
  }
}